<!DOCTYPE html>
<html lang="pt-Br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="grid.css">
    <link rel="stylesheet" href="janela-opcoes.css">
    <title>System Grid</title>
</head>
<body>

    <section class="janela">
        <article class="janela-opcoes col-cl-5 col-tb-4 col-dk-4">
            <img class="janela-opcoes__img" src="../../img/lupa.png" alt="Imagem de lupa">
            <h3 class="janela-opcoes__titulo">Venha se divertir também!</h3>
            <p class="janela-opcoes__paragrafo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo consequuntur assumenda illum necessitatibus quaerat enim, maxime neque eligendi sit unde tenetur aliquam nobis non reiciendis officiis vitae quisquam dolor laboriosam!</p>
        </article>
    </section>
</body>
</html>