<!-- 
1)Duivida 100 pelo numero de grids que a section tem
2) Vá somando o resultado dessa divisão em 1, 2, 3 ... n grids até 100.
3) Coloque a grid correspondente no elementos filhos diretos da section com grid.
 -->

<!DOCTYPE html>
<html lang="pt-Br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="navbar.css">
    <title>Navbar</title>
</head>
<body>
    <!-- GRID 5,9,12-->
    <header class="cabecalho">
        <!-- GRID 1,1,1-->
        <figure class="cabecalho__img col-cl-1 col-tb-1">
            <div class="cabecalho__img__logo"></div>
        </figure>
        <!-- GRID 1,7, -->
        <nav class="cabecalho__menu col-cl-1 col-tb-7">
            <figure class="cabecalho__menu__img">
                <img class="cabecalho__menu__img__hamburger" src="menu-icon.png" alt="menu">
            </figure>
            <ul class="cabecalho__menu__lista"> 
                <!-- grid 0, 1, 1-->
                <li class="cabecalho__menu__lista__item col-tb-1">Item 1</li>
                <li class="col-tb-1">Item 2</li>
                <li class="col-tb-1">Item 3</li>
                <li class="col-tb-1">Item 4</li>
                <li class="col-tb-1">Item 5</li>
                <li class="col-tb-1">Item 6</li>
            </ul>
        </nav>
    </header>
</body>
</html>