*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
cor background nav bar:#EDEBEC
cor H1: #9B9C9E
cor paragrafo: #EDEBEC
cor background footer:#9B9C9E
cor letra footer: #fffff
*/

/*mobile First*/


@media (min-width:768px){
    
} 
@media (min-width:992px){   
    
}
@media (min-width:1200px){   
    
}