*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*Hero*/

.hero {
    width: 100%;
    display: inline-block;
    
}

.hero__text {
    display:inline-block;
    color:#9B9C9E;
    padding:20px; 
    
}

.hero__paragraph {
    display: inline-block;
    color:#EDEBEC;
    padding: 20px;
}

.hero__col {
    width: 100%;
    vertical-align: middle;
    display: inline-block;
    float:right;
}

.col-cl-5 {
    width: 100%;
}

.hero__img{
    display: inline-block;
    width: 100%;
    padding: 20px;
}

@media (min-width:768px){
    .col-dk-6{
        width:50%;        
    }

    .hero__img{
    display: inline-block;
    width: 100%;
    padding: 40px 20px 0 0;
   
    }
  
    .hero__text {
      padding: 20px 0 0 20px ;
    }

    .hero__paragraph {
        padding: 15px 10px 0 20px;
    }
 
} 