*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*Hero*/

.hero {
    width: 100%;
    display: inline-block;
    text-align: center;
}

.hero__text {
    color:#9B9C9E;
    padding-top:20px
}

.hero__paragraph {
    color:#EDEBEC;
    padding: 20px;
}

.hero__col {
    width: 100%;
    vertical-align: middle;
    display: inline-block;
}

.col-cl-5 {
    width: 100%;
}

.hero__img{
    width: 100%;
    padding 20px;
}

@media (min-width:768px){
    .col-dk-6{
        width: 49%;        
    }

    .hero__img{
        height:100%;
    }
} 