*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
cor background nav bar:#EDEBEC
cor H1: #9B9C9E
cor paragrafo: #EDEBEC
cor background footer:#9B9C9E
cor letra footer: #fffff
*/

/*mobile First*/

.hero{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.hero__col--text{
    grid-area: 
    "hero__col--text hero__col--text"
    "hero__col--img hero__col--img";
}

.hero_img{
    width: 3.6%;
}
@media (min-width:768px){
    
} 
@media (min-width:992px){   
    
}
@media (min-width:1200px){   
    
}