<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="hero.css">
    <title>Hero</title>
</head>
<body>
    <div class="hero">           
        <div class="hero__col col-cl-5 col-dk-6">
            <h1 class="hero__text">Lorem Ipsum</h1>
             <p class="hero__paragraph">Lorem ipsum dolor sit amet,consectetur adipiscing elit. Vivamus eu nunc in neque faucibus aliquam a sed arcu. Fusce nec mattis libero. Nam ut tristique tortor. Phasellus aliquam nulla at metus cursus lobortis nec eget velit. Praesent pharetra nisl at tortor maximus, a auctor dui faucibus. Ut maximus turpis justo, venenatis placerat ipsum aliquam id. Duis non augue lectus. Nunc sodales iaculis dictum. Sed ultrices lectus metus, ut tristique ligula eleifend egestas. Donec quis dolor neque. Sed vel augue scelerisque, mattis libero ut, scelerisque nisl. Morbi at nulla eu est hendrerit elementum. Aliquam erat volutpat.</p>
        </div>
            
        <figure class="hero__col col-cl-5 col-dk-6">
            <img class="hero__img"  src="../../img/quadro.png" alt="imagem hero" >
        </figure>

    </img>
    
</body>
</html>