*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row {
    width: 100%;
}

.footer-estilo{
    background-color: #9B9C9E;
    color: #ffffff;
    padding: 20px;;
}

.footer-links{
    list-style-type:none;
    display: inline-block;
}

.footer-links a{
    text-decoration: none;
}

/*
teste
cor background nav bar:#EDEBEC
cor H1: #9B9C9E
cor paragrafo: #EDEBEC
cor background footer:#9B9C9E
cor letra footer: #fffff
*/

/*mobile First*/


@media (min-width:768px){
    
} 
@media (min-width:992px){   
    
}
@media (min-width:1200px){   
    
}