<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="footer.css">
    <title>Footer</title>
   
</head>
<body>

<footer class="row footer-estilo">
      <ul class="col-cl-3">
            <li class="footer-links"><a href="" >link1</a></li>
            <li class="footer-links"><a href="" >link1</a></li>
            <li class="footer-links"><a href="" >link1</a></li>
            <li class="footer-links"><a href="" >link1</a></li>
        </ul>
        <p class="footer-paragrafo col-cl-3">&copy Lorem ipsum </p> 
</footer>

</body>
</html>